---
title: Main Page
layout: default
---
<section>
    <ul>
        {% for post in site.posts %}
        <li>
            <aside>
                <ul>
                    <li>Author: {% if post.author %} {{ post.author }} {% else %} Anonymous {% endif %}</li>
                    <li>Date: {{ post.date }}</li>
                </ul>
            </aside>
            <article>
                <header>
                    <h2>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </h2>
                </header>
                <main>
                    {{ post.excerpt }}
                </main>
            </article>
        </li>
        {% endfor %}
    </ul>
</section>
