
body > header {
    font-family: 'Source Sans Pro', sans-serif;

    ul {
        width: 500px;
        display: flex;

        li {
            display: inline-block;
            list-style: none;
            flex: 1 1 100px;
            font-size: 30px;
            a {
                &:hover {
                    color: #444;
                }
            }
        }
    }
}
