
header {
    background-color: #E00;

    ul {
        width: 500px;
        display: flex;

        li {
            display: inline-block;
            list-style: none;
            flex: 1 1 100px;
        }
    }
}
