---
---

$color1: #286DA8;
$color2: #CD5360;
$color3: #B37B4E;
$color4: #438496;

$fa-font-path: "fonts/font-awesome/";
@import 'font-awesome';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans');
@import 'header';
@import 'footer';

a {
    text-decoration: none;
    &:visited {
        color: #000;
    }
}

body {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: auto 200px;
    grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";

    font-family: 'OpenSans', sans-serif;

    > main {
        grid-area: main;
        margin: 0 auto;

        li {
            display: flex;

            aside {
                &:hover {
                    border-right: 2px solid lightgray;
                }
            }

            article {
                padding-left: 15px;
                &:hover {
                    border-left: 2px solid lightgray;
                }
            }

            list-style: none;
            line-height: 1.5em;
            font-size: 14px;

            header {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 30px;
            }
            a {
                color: #000;
                text-decoration: none;

                &:hover {
                    color: #444;
                }
            }
        }
    }

    > aside {
        grid-area: sidebar;
    }
}


