---
---

@import url('https://fonts.googleapis.com/css?family=Raleway|Sacramento');
@import 'header';
@import 'footer';

body {
    width: 80%;
    margin: auto;

    font-family: 'Raleway', serif;

    > main {
        margin: 0 auto;


        li {
            list-style: none;
            header {
                font-family: 'Sacramento', cursive;
            }
            a {
                color: #000;
                text-decoration: none;
            }

            a:hover {
                color: #00F;
            }
        }
    }
}


